{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>KMNU UI 2021</title>
	<link rel="stylesheet"  href="{% static 'css/login.css' %}">
    
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="{% static 'img/wave.png'%}">
	<div class="container">
		<div class="img">
			<img src="{%static 'img/bg.svg' %}">
		</div>
		<div class="login-content">
			<form action="../">
				<img src="{%static 'img/avatar.svg'%}">
				<h2 class="title">KMNU UI</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Email</h5>
           		   		<input type="text" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input">
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
				<div> <a href="/register">Register</a> </div>
            	<input type="submit" class="btn" value="Login">
            </form>
			
        </div>
		
    </div>
    <script type="text/javascript" src="{%static 'js/login.js'%}"></script>
</body>
</html>